<div class="widgetBg">
    <img src={{storageObject.image}}/>
    <div *ngIf="!makeLocationHeading" class="widgetHeading">
        {{storageObject.title}}
    </div>
    <div class="iconDesc" *ngIf="makeLocationHeading" [ngClass]="{'widgetHeading' : makeLocationHeading}" >
        <span class="icon">
            <img src="assets/icons/location.svg" alt="icon"/>
        </span>
        <span>{{storageObject.location}}</span>
    </div>

    <div class="widgetDetails">
        <div class="iconDesc" *ngIf="!makeLocationHeading" >
            <span class="icon">
                <img src="assets/icons/location.svg" alt="icon"/>
            </span>
            <span>{{storageObject.location}}</span>
        </div>
        <div class="iconDesc">
            <span class="icon">
                <img src="assets/icons/units.svg" alt="icon"/>
            </span>
            <span><span>Total Unit: </span>{{storageObject.units}}</span>
        </div>
        <div class="iconDesc">
            <span class="icon">
                <img src="assets/icons/size.svg" alt="icon"/>
            </span>
            <span><span>Size: </span>{{storageObject.size}} Sq Ft</span>
        </div>
        <div class="iconDesc">
            <span class="icon">
                <img src="assets/icons/occupancy.svg" alt="icon"/>
            </span>
            <span><span>Occupancy: </span>{{storageObject.occupancy}}%</span>
        </div>
    </div>

    <div class="button blue-button">View More Details</div>

</div>