<div class="widgetBg">
    <img src="/../../../../assets/storages/Item2.png"/>
    <div class="widgetHeading">
        Heading of this Self Storage
    </div>

    <div class="widgetDetails">
        <div>
            Jersey City, NJ
        </div>
        <div>
            <span>Total Unit: </span>89
        </div>
        <div>
            <span>Size: </span>40233 Sq Ft
        </div>
        <div>
            <span>Occupancy: </span>50%
        </div>
    </div>

    <div class="button blue-button">View More Details</div>

</div>