<div class="footer-row">
    <div class="block largeBlock">
        <div class="footerHeading">
            StorageConnect
        </div>
        <div>
            Nam posuere accumsan porta. Integer id orci sed ante tincidunt tincidunt sit amet sed libero.
        </div>
        <div>
            © StorageConnect 2022, All Rights Reserved
        </div>
    </div>
    <div class="block">
        <div class="boldCaps">Quick Links</div>
        <div>Active Listings</div>
        <div>Self your Self Storage</div>
        <div>Free Evaluation</div>
        <div>Learn</div>
    </div>
    <div class="block">
        <div class="boldCaps">Newletter</div>
        <div>Get latest updates right in your inbox</div>
        <div class="button blue-button">Subscribe Now</div>
    </div>
    <div class="block" style="justify-content: flex-start;">
        <div class="boldCaps">Let's get Social</div>
        <div class="socialGroup">
            <div class="icon">
                <img src="../../../assets/socials/facebook.svg" alt="icon"/>
            </div>
            <div class="icon">
                <img src="../../../assets/socials/linkedIn.svg" alt="icon"/>
            </div>
            <div class="icon">
                <img src="../../../assets/socials/twitter.svg" alt="icon"/>
            </div>
            <div class="icon">
                <img src="../../../assets/socials/insta.svg" alt="icon"/>
            </div>
        </div>
    </div>
</div>
