@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

body{
    margin: 0px !important;
    font-family: 'Poppins';
    overflow-x: hidden;
}

.mainBanner{
    background-image: url("assets/backgrounds/Item1.png");
    background-size: cover;
    background-position: center;
    color: white;
}